In [3]:
# module load
import os
import sys
import urllib.request
import json
import numpy as np
import pandas as pd
import copy
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib import font_manager, rc

# Font load
'''
from Font import Fontmanager
path = Fontmanager()
'''

font_name = font_manager.FontProperties(fname="/System/Library/Fonts/Supplemental/AppleMyungjo.ttf").get_name()
rc('font', family=font_name)

# data load
dataset = pd.read_csv('./datas.csv', encoding = "utf-8-sig")

# preprocessing
dataset = dataset.reset_index()
dataset = dataset[dataset["values"].isna() == False]
dataset["index"] = dataset["index"].astype(int)

# A dataset for crawling
search_word = pd.DataFrame(dataset,columns=["index", "brand_ad", "values"])

In [15]:
def naverapi(search_word):    
    search_dict = []
    list_key = []
    list_value = []

    for index in range(len(search_word)) : 
        value_name = list(search_word["brand_ad"])[index] #search_word의 Keys 칼럼을 리스트화 한 후, 순서대로 가져옴
        value_words = (list(search_word["values"])[index]).split(",") #search_word의 values 칼럼을 리스트화 한 후, 순서대로 가져옴
        #dict_value를 split(",")하는 이유는, 개별 키워드가 띄어쓰기로 구분된 리스트 형태여야 하기 때문 
        #ex. "혼다, CRV"(X), "혼다", "CRV" (O)
        search_dict.append({"groupName" : value_name, "keywords" : value_words}) 
        #search_dict 리스트에 딕셔너리 타입으로 추가시킴 
        list_key.append(value_name)
        list_value.append(value_words)
        
        crop_dict = search_dict[1:]
        split_list = [crop_dict[i:i+4] for i in range(0, len(crop_dict), 4)]

In [16]:
# 검색용 키워드값 확인
# groupName = 검색어 주제
# value 값은 검색 키워드

In [19]:
def standard(search_dict[0]):
    copy.deepcopy(search_dict[0])
    return standard

{'groupName': 'ASTON MARTIN_기흥인터내셔널', 'keywords': ['애스턴마틴', 'ASTON MARTIN']}

In [20]:
def get_trend(body):
    import urllib.request
    url = "https://openapi.naver.com/v1/datalab/search"
    client_id = "_Dan99FJTyuxjCXwBBs0"
    client_secret = "lmu7d3Mkcb"
    request = urllib.request.Request(url)
    request.add_header("X-Naver-Client-Id", client_id)
    request.add_header("X-Naver-Client-Secret", client_secret)
    request.add_header("Content-Type","application/json")
    response = urllib.request.urlopen(request, data=body.encode("utf-8"))

    return json.loads(response.read().decode('utf-8'))

In [24]:
def get_search(split_list):    
    search_result = []

    for i in range(len(split_list)) : 
        insert_words = []
        insert_words = copy.deepcopy(split_list[i])
        insert_words.append(standard)

        body = {
            "startDate":"2016-01-01",
            "endDate":"2021-05-05",
            "timeUnit":"date",
            "keywordGroups": insert_words
            }

        body = json.dumps(body, ensure_ascii=False)

        search_result.append(get_trend(body))
#     print(body)

In [ ]:
def :
    
    period_list = [each["period"] for each in search_result[0]["results"][0]["data"]]
    ratio_list = [each["ratio"] for each in search_result[0]["results"][0]["data"]]
    df_result["date"] = pd.DataFrame(period_list)
    probio_ratio = [each["ratio"] for each in search_result[6]["results"][2]["data"]]
    df_result[probio] = probio_ratio

In [32]:
probio = search_result[6]["results"][2]["title"]
probio_ratio = [each["ratio"] for each in search_result[6]["results"][2]["data"]]
df_result[probio] = probio_ratio

In [33]:
search_result[6]["results"][2]["title"]

'Mercedes-Benz_메르세데스벤츠코리아'

In [34]:
df_result.head()

         date  Mercedes-Benz_메르세데스벤츠코리아
0  2016-01-01                   1.36207
1  2016-01-02                   1.31685
2  2016-01-03                   1.30568
3  2016-01-04                   1.37624
4  2016-01-05                   1.36725

In [35]:
for i in range(len(search_result)) :
    for order in range((len(search_result[i]["results"]))-1)  :
       
        df_dummy = pd.DataFrame()
        
        date_list = [each["period"] for each in search_result[i]["results"][order]["data"]]
        ratio_list = [each["ratio"] for each in search_result[i]["results"][order]["data"]]
        column_name = search_result[i]["results"][order]["title"]
        
        df_dummy["date"] = date_list 
        df_dummy[column_name] = ratio_list
        
        df_result = pd.merge(left = df_result, right = df_dummy, how = "outer" , left_on = "date", right_on = "date" )
       
        print(column_name)

ASTON MARTIN_기흥애스턴마틴밴티지
ASTON MARTIN_기흥인터내셔널애스턴마틴
Nissan_닛산엑스트레일
Nissan_닛산알티마
Nissan_닛산인피니티Q30
Nissan_닛산인피니티Q50
Nissan_닛산인피니티QX50
Mercedes-Benz_더클래스효성
Mercedes-Benz_더클래스효성벤츠E클래스
Mercedes-Benz_더클래스효성벤츠GLE쿠페
Mercedes-Benz_더클래스효성벤츠S클래스
BMW_도이치모터스
BMW_도이치모터스BMW
Lincoln_링컨컨티넨탈
Lincoln_링컨에비에이터
Mercedes-Benz_메르세데스벤츠
Mercedes-Benz_벤츠E클래스
Mercedes-Benz_벤츠EQ
Mercedes-Benz_벤츠GLA클래스
Mercedes-Benz_벤츠S350DAMG
Mercedes-Benz_벤츠S클래스
Mercedes-Benz_벤츠SUV
Mercedes-Benz_벤츠C클래스
Mercedes-Benz_벤츠C클래스카브리올레
Mercedes-Benz_벤츠C클래스쿠페
Mercedes-Benz_벤츠CLS
Mercedes-Benz_메르세데스벤츠코리아
Volvo_볼보*
Volvo_볼보S60*
Volvo_볼보S90
Volvo_볼보크로스컨트리*
Volvo_볼보XC40
Volvo_볼보XC60
Volvo_볼보XC90
Volvo_볼보자동차코리아
비워크
비워크지프
Audi_아우디A3스포트백
Audi_아우디A5
Audi_아우디A6
Audi_아우디A6아반트
Audi_아우디A6아반트&A4
Audi_아우디A7
Audi_아우디A8
Audi_아우디A4
Audi_아우디A4&A5*
Audi_아우디Q
Audi_아우디Q7
Audi_아우디Q8
Audi_아우디코리아
Audi_아우디코리아아우디
Volkswagen_아우디폭스바겐
Volkswagen_아우디폭스바겐티록
Volkswagen_아우디폭스바겐제타
Volkswagen_아우디폭스바겐티구안
Audi_아우디폭스바겐코리아
Jaguar_재규어E-PACE
Jaguar_재규어F-PACE
Jaguar_재규어XE
Jaguar_재규어XF
Jaguar_재규어XJ
Land Rover_재규어랜드로버레인지로버
Land Rover_재규어랜드로버레인지로버벨라
Land Rover_재규어랜드로버레인지로버스포츠
Land Rover_재규어랜드로버레인지로버이보크
Land Rover_재규어랜드로버레인지로버이보크컨버터블
Land Rover_재규어랜드로버디펜더
Land Rover_재규어랜드로버디스커버리
Land Rover_재규어랜드로버디스커버리스포츠
Land Rover_재규어랜드로버코리아
Cadillac_지엠캐딜락XT6
Cadillac_지엠캐딜락CT6
Cadillac_지엠캐딜락XT5
GM_지엠코리아
Cadillac_지엠코리아캐딜락
Cadillac_캐딜락코리아
Cadillac_캐딜락*
Cadillac_캐딜락에스컬레이드플래티넘
Cadillac_캐딜락CT6
Cadillac_캐딜락XT5
Cadillac_캐딜락에스컬레이드
Chrysler_크라이슬러피아트500X
Chrysler_크라이슬러지프
Chrysler_크라이슬러지프레니게이드
Chrysler_크라이슬러지프랭글러
Chrysler_크라이슬러지프컴패스
Ford_포드레인저
Ford_포드몬데오
Ford_포드익스플로러
Ford_포드쿠가
Ford_포드포커스
Ford_포드링컨MKZ
Ford_포드세일즈서비스코리아
Porsche_포르쉐파나메라*
Porsche_포르쉐코리아
Volkswagen_폭스바겐골프
Volkswagen_폭스바겐파사트
Volkswagen_폭스바겐파사트GT
Volkswagen_폭스바겐아테온
Volkswagen_폭스바겐투아렉
Nissan_한국닛산
Lexus_한국토요타렉서스ES300H
Toyota_한국토요타자동차
Lexus_한국토요타렉서스GS450H
Lexus_한국토요타렉서스GSF
Lexus_한국토요타렉서스SUV
Lexus_한국토요타자동차렉서스
Toyota_한국토요타프리우스
Toyota_한국토요타프리우스C
Toyota_한국토요타GR수프라
Citroen_한불모터스시트로엥
한불모터스DS7크로스백
Honda_혼다코리아
BMW_BMW코리아
BMW_BMW3시리즈
BMW_BMW6시리즈그란투리스모
MINI_BMW미니컨버터블
MINI_BMW미니컨트리맨
MINI_BMW미니쿠퍼
MINI_BMW미니클럽맨
MINI_BMW미니JCW클럽맨&컨트리맨
BMW_BMW코리아5시리즈
BMW_BMW코리아7시리즈
BMW_BMWI8
BMW_BMWM5
BMW_BMWX
BMW_BMWX3
BMW_BMWX5
BMW_BMWX6
BMW_BMWX7
BMW_BMWX드라이브
BMW_BMWX레인지
Chrysler_FCA지프
Maserati_FMK마세라티
Maserati_FMK마세라티그란투리스모
Citroen_한불모터스시트로엥C4칵투스
Citroen_한불모터스시트로엥C5에어크로스
Citroen_한불모터스시트로엥그랜드C4스페이스투어러
Citroen_한불모터스시트로엥그랜드C4피카소
Toyota_한국토요타RAV4
Toyota_한국토요타시에나
Toyota_한국토요타아발론
Toyota_한국토요타캠리
Toyota_한국토요타캠리&프리우스
Toyota_한국토요타프리우스프라임
Maserati_FMK마세라티기블리
Maserati_FMK마세라티르반떼
Maserati_FMK마세라티르반떼트로페오
Maserati_FMK마세라티르반떼GTS
Maserati_FMK마세라티SUV
Lexus_한국토요타렉서스RX450HL
Lexus_한국토요타렉서스RX
Lexus_한국토요타렉서스NX
Lexus_한국토요타렉서스LC500H
Lexus_한국토요타렉서스LS
Lexus_한국토요타렉서스LS500
Lexus_한국토요타렉서스LS500H
Lexus_한국토요타렉서스UX
Lexus_한국토요타렉서스UX250H
Chrysler_FCA지프체로키&그랜드체로키
Peugeot_한불모터스푸조2008
Peugeot_한불모터스푸조3008
Peugeot_한불모터스푸조308GT
Peugeot_한불푸조308
Peugeot_한불모터스푸조5008
Peugeot_한불모터스푸조508
Peugeot_한불모터스푸조SUV
Honda_혼다CR-V
Honda_혼다CR-V&파일럿
Honda_혼다ACCORD
Honda_혼다파일럿

In [38]:
df_result.head()

,date,Mercedes-Benz_메르세데스벤츠코리아_x,ASTON MARTIN_기흥애스턴마틴밴티지,ASTON MARTIN_기흥인터내셔널애스턴마틴,Nissan_닛산엑스트레일,Nissan_닛산알티마,Nissan_닛산인피니티Q30,Nissan_닛산인피니티Q50,Nissan_닛산인피니티QX50,Mercedes-Benz_더클래스효성,...,Peugeot_한불모터스푸조3008,Peugeot_한불모터스푸조308GT,Peugeot_한불푸조308,Peugeot_한불모터스푸조5008,Peugeot_한불모터스푸조508,Peugeot_한불모터스푸조SUV,Honda_혼다CR-V,Honda_혼다CR-V&파일럿,Honda_혼다ACCORD,Honda_혼다파일럿
0,2016-01-01,1.36207,4.03396,4.03396,0.00193,NaN,0.64490,1.07709,0.07961,2.41965,...,0.19649,0.23981,0.23981,0.00846,0.22626,0.22626,0.08421,0.08421,1.15283,0.21609
1,2016-01-02,1.31685,1.46403,1.46403,0.00193,NaN,0.35209,1.16372,0.05396,2.33931,...,0.22021,0.21803,0.21803,0.00653,0.25505,0.25505,0.10889,0.10889,1.53881,0.18584
2,2016-01-03,1.30568,0.65917,0.65917,0.00338,NaN,0.49559,1.00377,0.07477,2.31946,...,0.20520,0.23424,0.23424,0.00798,0.22819,0.22819,0.10066,0.10066,1.21430,0.17737
3,2016-01-04,1.37624,0.57061,0.57061,0.00338,NaN,0.64635,1.15646,0.07792,2.44482,...,0.33902,0.27223,0.27223,0.01839,0.29401,0.29401,0.09776,0.09776,1.19349,0.18246
4,2016-01-05,1.36725,0.26159,0.26159,0.00290,NaN,0.46147,1.09379,0.06678,2.42884,...,0.29861,0.21730,0.21730,0.01863,0.25529,0.25529,0.20036,0.20036,1.26391,0.17883

In [42]:
df_result.to_csv(r'before_scale.csv', encoding='utf-8-sig')

In [43]:
def scaling (df_result):
    df_realvalue = df_result.iloc[:,1:]
    scaler = 4169.8
    df_realvalue = round(df_realvalue*scaler, 1)
    df_realvalue.insert(0, "date", df_result["date"])

In [44]:
df_realvalue

,date,Mercedes-Benz_메르세데스벤츠코리아_x,ASTON MARTIN_기흥애스턴마틴밴티지,ASTON MARTIN_기흥인터내셔널애스턴마틴,Nissan_닛산엑스트레일,Nissan_닛산알티마,Nissan_닛산인피니티Q30,Nissan_닛산인피니티Q50,Nissan_닛산인피니티QX50,Mercedes-Benz_더클래스효성,...,Peugeot_한불모터스푸조3008,Peugeot_한불모터스푸조308GT,Peugeot_한불푸조308,Peugeot_한불모터스푸조5008,Peugeot_한불모터스푸조508,Peugeot_한불모터스푸조SUV,Honda_혼다CR-V,Honda_혼다CR-V&파일럿,Honda_혼다ACCORD,Honda_혼다파일럿
0,2016-01-01,5679.6,16820.8,16820.8,8.0,NaN,2689.1,4491.2,332.0,10089.5,...,819.3,1000.0,1000.0,35.3,943.5,943.5,351.1,351.1,4807.1,901.1
1,2016-01-02,5491.0,6104.7,6104.7,8.0,NaN,1468.1,4852.5,225.0,9754.5,...,918.2,909.1,909.1,27.2,1063.5,1063.5,454.0,454.0,6416.5,774.9
2,2016-01-03,5444.4,2748.6,2748.6,14.1,NaN,2066.5,4185.5,311.8,9671.7,...,855.6,976.7,976.7,33.3,951.5,951.5,419.7,419.7,5063.4,739.6
3,2016-01-04,5738.6,2379.3,2379.3,14.1,NaN,2695.2,4822.2,324.9,10194.4,...,1413.6,1135.1,1135.1,76.7,1226.0,1226.0,407.6,407.6,4976.6,760.8
4,2016-01-05,5701.2,1090.8,1090.8,12.1,NaN,1924.2,4560.9,278.5,10127.8,...,1245.1,906.1,906.1,77.7,1064.5,1064.5,835.5,835.5,5270.3,745.7
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1947,2021-05-01,11141.6,4017.0,4017.0,32.3,NaN,225.0,522.7,129.1,19792.5,...,653.8,235.1,235.1,553.0,493.4,493.4,504.5,504.5,4245.0,293.6
1948,2021-05-02,12139.1,3762.7,3762.7,22.2,NaN,280.5,526.7,162.5,21564.3,...,756.8,333.0,333.0,560.0,500.5,500.5,668.0,668.0,4088.7,368.3
1949,2021-05-03,11515.9,3071.5,3071.5,33.3,NaN,277.5,500.5,118.0,20457.4,...,644.8,323.9,323.9,541.8,465.1,465.1,635.7,635.7,4739.5,398.5
1950,2021-05-04,10945.7,2983.7,2983.7,24.2,NaN,227.0,524.7,105.9,19444.3,...,705.3,366.3,366.3,542.9,537.8,537.8,628.6,628.6,4790.9,388.5
1951,2021-05-05,11600.0,3480.2,3480.2,18.1,NaN,245.2,528.7,126.1,20606.8,...,712.4,297.6,297.6,592.3,503.5,503.5,610.5,610.5,4492.3,342.0

In [47]:
df_realvalue.to_csv(r'result_file_scaled.csv', encoding='utf-8-sig')

In [ ]:
def save(file):
    file.to_csv(r'file.csv', encoding='utf-8-sig')